@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1653813679729') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tupian:before {
  content: "\e63e";
}

.icon-jiahao:before {
  content: "\e726";
}

.icon-icon:before {
  content: "\e651";
}

.icon-biaoqing:before {
  content: "\e646";
}

.icon-icon1:before {
  content: "\e694";
}

.icon-huati:before {
  content: "\e60b";
}

.icon-huiyuandengji:before {
  content: "\e67c";
}

.icon-pinglun:before {
  content: "\e891";
}

.icon-shouye_shouye-copy:before {
  content: "\e520";
}

.icon-arrow-up:before {
  content: "\e50b";
}

.icon-jiantou-copy-copy:before {
  content: "\e503";
}

.icon-wodexiaoxiyong:before {
  content: "\e662";
}

.icon-weizhidizhi:before {
  content: "\e613";
}

.icon-fangdajing:before {
  content: "\e638";
}

.icon-pinglun1:before {
  content: "\e647";
}

.icon-gongkai:before {
  content: "\e63f";
}

.icon-huiyuandengji1:before {
  content: "\e65c";
}

.icon-jiantou:before {
  content: "\e65a";
}

.icon-zhuanfa:before {
  content: "\e60d";
}

.icon-huiyuandengji2:before {
  content: "\e67e";
}

.icon-faxian:before {
  content: "\eeaa";
}

.icon-wode:before {
  content: "\eeca";
}

.icon-xiaoxi:before {
  content: "\e603";
}

.icon-huati1:before {
  content: "\e502";
}

.icon-weizhi:before {
  content: "\ebd2";
}

.icon-chaohuasuanfayewu:before {
  content: "\e695";
}

.icon-chaohua:before {
  content: "\e828";
}

.icon-tupian1:before {
  content: "\fb84";
}

.icon-xiaoxi1:before {
  content: "\10015";
}

.icon-tubiao-tidao:before {
  content: "\e78b";
}

.icon-aixin:before {
  content: "\e60c";
}

